Tasks:
1. Print prime numbers in between 1 to 1000
2. write a function which is equivalent to print function in python
3. write a function which is a replica of list append, extend, and pop function
4. Write a lambda function which can return a concatination of all the string that we will pass
5. lambda function which can return list of square of all the data between 1-100 
6. 10 different examples of lambda fuction witha choice of your tasks
7. function which can perform a read operation from .txt file.

### 1. Print prime numbers between 1 and 1000

In [1]:
#Approach: 

#List all the mutiples of all the numbers (1 to 1000) together in one list

#Check the frequency of each element of the list using count method: that is, list.count(element)

#The elements in the list that have count() = 2 are primes because primes only have 2 multiples (1 and itself).

multiples = []
for i in range(1,1001): 
    for j in range(1,1001):
        if i*j > 1000:
            break
        else:
            multiples.append(i*j)

multiples.remove(1)             # 1 is neither prime not composite. so removing it.
primes = []
for i in range(1,1001):
    count = multiples.count(i) 
    if count == 2:               # primes have 2 multiples only (1 and itself)
        primes.append(i)

print("The number of primes from 1 to 1000 are: ", len(primes))
print("The prime numbers from 1 to 1000 are: ", primes)

The number of primes from 1 to 1000 are:  168
The prime numbers from 1 to 1000 are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### 2. Write a function which is equivalent to print function in python

In [2]:
#Approach: input can be any datatype. so, I'll convert input to string. Then use for-loop to extract letters and concatenate.

def new_print(input):
    input = str(input) 
    c = ''
    for i in input:
        c += i
    return c

new_print("Hello")

'Hello'

### 3. Write a function which is a replica of list append, extend, and pop

### Extend

In [3]:
#extend method can be only used on list, tuple, set, or string.
#following code works for all the scenarios
  
def new_extend(a,b):
    if type(a) == type(b) == str:
        return a+b
    if type(a) in [list,tuple,set] and type(b) in [list,tuple,set]:
        c = ""
        c1= ""
        for i in a:                    #for-loop to convert to string        
            c = c + '*' + str(i)
        c = c.lstrip('*')
        for i in b:
            c1 = c1 + '*' + str(i)      #using * to seperate elements
        c1 = c1.lstrip('*')
        new_string = c + '*' + c1
        new_string = new_string.split('*')  #converts to list
        if type(a) == type(b) == set:
            new_string = set(new_string)    #convert datatype of output to set
        if  type(a) == type(b) == tuple:
            new_string = tuple(new_string)  #convert datatype of output to tuple
        return new_string
    if type(a) != type(b):                  #throws message saying datatypes should be same
        print("Datatypes of a and b should be same. They can only be string, list, tuple, or set")
        
 
                
        
#a, b should be same datatype and can only be string, list, tuple, set
#if by accident, any other datatypes are used, a message is shown as output

a = {1,2}
b = {4,5}

new_extend(a,b)

{'1', '2', '4', '5'}

### Append

In [4]:
#Replicate append method using functions. 

def new_append(list_1,string_1):
    if type(list_1) == list and type(string_1) == str:
        a = list_1
        b = string_1
        c = ""                   
        for i in a:              #for-loop to convert to string
            c = c + '*' + str(i) #using * to seperate elements
        c = c.lstrip('*')
        c = c + '*' + b
        return c.split('*')      #converts to list
    else:
        if type(list_1) != list:
            print("Please use list datatype for list_1")
        if type(string_1) != str:
            print("Please use string datatype for string_1")

list_1 = [2,35,"abc"]
string_1 = "Hello"

new_append(list_1, string_1)

['2', '35', 'abc', 'Hello']

### Pop

In [5]:
def new_pop(list_a, index):
    if type(list_a) == list:
        list_a.remove(list_a[index])
        return list_a
    else:
        print("Please use list datatype for list_a")
    

list_a = [1,2,3,4,5,6]
index  = 1                         #index of the element that needs to be removed

new_pop(list_a, index)

[1, 3, 4, 5, 6]

### 4. Write a lambda function which can return a concatination of all the string that we will pass

In [6]:
l = ['I', 'want', 'to', 'excel', 'in', 'FSDS']

from functools import reduce

reduce(lambda a,b: a+b, l)

'IwanttoexcelinFSDS'

In [7]:
x = lambda *s, c='': [c+i for i in s]
x('Hello', 'There')

['Hello', 'There']

### 5. Lambda function which can return list of square of all the data between 1-100

In [8]:
x = lambda *a:[i**2 for i in range(1,101)]

x()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

### 6. 10 different examples of lambda fuction with a choice of your tasks

In [9]:
prime_or_not = lambda num: all(num%i != 0 for i in range(2, int(num**.5)+1))
print(prime_or_not(439))


print((lambda x, y: x*y if (x//y == 2 and x+y==6) else 0)(4, 2))


c = lambda *x: [i for i in range(3,9)]
print(c())

a = lambda x,y: x*y
print(a(2,3))


a = lambda x: x[:4]
print(a('Good Morning'))


a = lambda x,y: x+y
print(a(2,3))


x = lambda a: len(a)
print(x('iNeuron'))


y = lambda a : str(a).find('l')
print(y('Hello'))


num = [-1,45,23,0,25,-88]
a = sorted(num, key=lambda x: x, reverse=True)
print(num)


even_odd = lambda x:['even' if x%2 == 0 else 'odd']
print(even_odd(5))

True
8
[3, 4, 5, 6, 7, 8]
6
Good
5
7
2
[-1, 45, 23, 0, 25, -88]
['odd']

### 7. Function which can perform a read operation from .txt file.

In [11]:
f = open('test5.txt', 'r') 

f.read()

'this is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\nthis is my python program that I want to write into a file.\n'