### Code for Question1

In [ ]:
import java.sql.*;
import java.util.Scanner;

public class StudentDatabaseManager {
    private static final String URL = "jdbc:mysql://localhost:3306/testdb";  // testdb is the database name
    private static final String USERNAME = "root";   // MySQL workbench username
    private static final String PASSWORD = "root";   // MySQL workbench password

    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);
        while (true) {
            System.out.println("Menu:");
            System.out.println("1. Create");
            System.out.println("2. Read");
            System.out.println("3. Update");
            System.out.println("4. Delete");
            System.out.println("5. Exit");
            System.out.print("Select an option: ");
            int choice = scanner.nextInt();
            scanner.nextLine();  // Consume newline

            if (choice == 5) {
                break;
            }

            try {
                Class.forName("YOUR_JDBC_DRIVER");
                Connection connection = DriverManager.getConnection(URL, USERNAME, PASSWORD);

                if (choice == 1) {
                    // Create operation
                    System.out.print("Enter student name: ");
                    String name = scanner.nextLine();
                    PreparedStatement createStatement = connection.prepareStatement("INSERT INTO student (name) VALUES (?)");
                    createStatement.setString(1, name);
                    createStatement.executeUpdate();
                    System.out.println("Student created.");
                } else if (choice == 2) {
                    // Read operation
                    Statement readStatement = connection.createStatement();
                    ResultSet resultSet = readStatement.executeQuery("SELECT * FROM student");
                    while (resultSet.next()) {
                        System.out.println("ID: " + resultSet.getInt("id") + ", Name: " + resultSet.getString("name"));
                    }
                } else if (choice == 3) {
                    // Update operation
                    System.out.print("Enter student ID to update: ");
                    int id = scanner.nextInt();
                    scanner.nextLine();  // Consume newline
                    System.out.print("Enter new student name: ");
                    String newName = scanner.nextLine();
                    PreparedStatement updateStatement = connection.prepareStatement("UPDATE student SET name = ? WHERE id = ?");
                    updateStatement.setString(1, newName);
                    updateStatement.setInt(2, id);
                    updateStatement.executeUpdate();
                    System.out.println("Student updated.");
                } else if (choice == 4) {
                    // Delete operation
                    System.out.print("Enter student ID to delete: ");
                    int idToDelete = scanner.nextInt();
                    PreparedStatement deleteStatement = connection.prepareStatement("DELETE FROM student WHERE id = ?");
                    deleteStatement.setInt(1, idToDelete);
                    deleteStatement.executeUpdate();
                    System.out.println("Student deleted.");
                }

                connection.close();
            } catch (ClassNotFoundException | SQLException e) {
                e.printStackTrace();
            }
        }

        scanner.close();
    }
}

### Code for Quetion 2

In [ ]:
import java.sql.*;

public class StudentData {
    public static void main(String[] args) { 
        String url = "jdbc:mysql://localhost:3306/newdb";   // change database name
        String username = "root";                           //change username accordingly
        String password = "root";                           //change password accordingly

        try {
            Class.forName("com.mysql.cj.jdbc.Driver"); // Load the JDBC driver class

            Connection conn = DriverManager.getConnection(url, username, password);
            Statement stmt = conn.createStatement();

            // Creating the table
            
            String createTableSQL = "CREATE TABLE IF NOT EXISTS StudentData (" +
                    "id INT AUTO_INCREMENT PRIMARY KEY, " +
                    "name VARCHAR(255), " +
                    "address VARCHAR(255), " +
                    "gender VARCHAR(10), " +
                    "DOB DATE, " +
                    "DOJ DATE, " +
                    "DOM DATE" +
                    ")";
            stmt.execute(createTableSQL);

            // Inserting dummy data
            String insertDataSQL = "INSERT INTO StudentData (name, address, gender, DOB, DOJ, DOM) VALUES " +
                    "('Raj', 'House 23, Vinay Colony', 'Male', STR_TO_DATE('10-01-1990', '%d-%m-%Y'), STR_TO_DATE('01-10-2010', '%m-%d-%Y'), STR_TO_DATE('2010-01-10', '%Y-%m-%d')), " +
                    "('Trisha', 'Techno Colony', 'Female', STR_TO_DATE('20-04-1992', '%d-%m-%Y'), STR_TO_DATE('04-20-2012', '%m-%d-%Y'), STR_TO_DATE('2012-04-20', '%Y-%m-%d'))";
            stmt.execute(insertDataSQL);

            System.out.println("Table created and data inserted successfully");

            // Now, let's query the data from the table
            String querySQL = "SELECT * FROM StudentData";
            ResultSet resultSet = stmt.executeQuery(querySQL);

            // Print the column names (optional)
            System.out.println("id\tname\t\taddress\t\t\t\tgender\tDOB\t\tDOJ\t\tDOM");
            System.out.println("---------------------------------------------------------------------------------------------------");

            // Iterate through the result set and print each row
            while (resultSet.next()) {
                int id = resultSet.getInt("id");
                String name = resultSet.getString("name");
                String address = resultSet.getString("address");
                String gender = resultSet.getString("gender");
                Date dob = resultSet.getDate("DOB");
                Date doj = resultSet.getDate("DOJ");
                Date dom = resultSet.getDate("DOM");

                System.out.println(id + "\t" + name + "\t" + address + "\t" + gender + "\t" + dob + "\t" + doj + "\t" + dom);
            }

            // Closing the resources
            resultSet.close();
            stmt.close();
            conn.close();

        } catch (Exception e) {
            e.printStackTrace();
        }
    }
}

### Code for Question 3

In [ ]:
// javac -classpath "C:\Java_Jars\jars\mysql-connector-j-8.1.0.jar;." DatabaseConnect.java
// java -classpath "C:\Java_Jars\jars\mysql-connector-j-8.1.0.jar;." DatabaseConnect

import java.sql.*;

public class StudentData {
    public static void main(String[] args) {
        String url = "jdbc:mysql://localhost:3306/newdb";
        String username = "root";
        String password = "root";

        try {
            Class.forName("com.mysql.cj.jdbc.Driver"); // Load the JDBC driver class

            Connection conn = DriverManager.getConnection(url, username, password);
            Statement stmt = conn.createStatement();

            // Creating the table
            String createTableSQL = "CREATE TABLE IF NOT EXISTS StudentData (" +
                    "id INT AUTO_INCREMENT PRIMARY KEY, " +
                    "name VARCHAR(255), " +
                    "address VARCHAR(255), " +
                    "gender VARCHAR(10), " +
                    "DOB DATE, " +
                    "DOJ DATE, " +
                    "DOM DATE" +
                    ")";
            stmt.execute(createTableSQL);

            // Inserting dummy data
            String insertDataSQL = "INSERT INTO StudentData (name, address, gender, DOB, DOJ, DOM) VALUES " +
                    "('Raj', 'House 23, Vinay Colony', 'Male', STR_TO_DATE('10-01-1990', '%d-%m-%Y'), STR_TO_DATE('01-10-2010', '%m-%d-%Y'), STR_TO_DATE('2010-01-10', '%Y-%m-%d')), " +
                    "('Trisha', 'Techno Colony', 'Female', STR_TO_DATE('20-04-1992', '%d-%m-%Y'), STR_TO_DATE('04-20-2012', '%m-%d-%Y'), STR_TO_DATE('2012-04-20', '%Y-%m-%d'))";
            stmt.execute(insertDataSQL);

            // Updating dummy data
            String updateDataSQL = "UPDATE StudentData SET address = 'Updated Address' WHERE name = 'Raj'";
            stmt.execute(updateDataSQL);

            // Selecting and printing data
            String querySQL = "SELECT * FROM StudentData";
            ResultSet resultSet = stmt.executeQuery(querySQL);
            printResultSet(resultSet);

            // Deleting dummy data
            String deleteDataSQL = "DELETE FROM StudentData WHERE name = 'Trisha'";
            stmt.execute(deleteDataSQL);

            // Selecting and printing data again to verify deletion
            resultSet = stmt.executeQuery(querySQL);
            printResultSet(resultSet);

            // Closing the resources
            resultSet.close();
            stmt.close();
            conn.close();

        } catch (Exception e) {
            e.printStackTrace();
        }
    }

    public static void printResultSet(ResultSet resultSet) throws SQLException {
        // Print the column names (optional)
        System.out.println("id\tname\t\taddress\t\t\t\tgender\tDOB\t\tDOJ\t\tDOM");
        System.out.println("---------------------------------------------------------------------------------------------------");

        // Iterate through the result set and print each row
        while (resultSet.next()) {
            int id = resultSet.getInt("id");
            String name = resultSet.getString("name");
            String address = resultSet.getString("address");
            String gender = resultSet.getString("gender");
            Date dob = resultSet.getDate("DOB");
            Date doj = resultSet.getDate("DOJ");
            Date dom = resultSet.getDate("DOM");

            System.out.println(id + "\t" + name + "\t" + address + "\t" + gender + "\t" + dob + "\t" + doj + "\t" + dom);
        }
    }
}