Q.1)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron


q.2)


          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon




 l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]


q.3) Try to extract all the list entity.
q.4) Try to extract all the dict entity.
q.5) Try to extract all the Tuples entity.
q.6) Try to extract all the Numeric data it may be a part of dict key and values.
q.7) Try to give summation of all the numeric data.
q.8) Try to filter out all the odd values out all numeric datawhich is a part of a list.
q.9) Try to extract "ineuron" out of this dataset.
q.10) Try to find out a number of occurance of all the data.
q.11) Try to find out a number of keys in dict element.
q.12) Try to filter out all the string data.
q.13) Try to find out alphanum in data.
q.14) Try to find out multiplication of all numeric value in the individual collection inside dataset.
q.15) Try to unwrape all the collection inside collection and create a flat list.

In [1]:
#1

n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("ineuron" , end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [2]:
#2

n=3
k=n
for i in range(n):
    k=k-1 
    print('      '*k, end='')
    for j in range(i+1):
        print('ineuron      ', end= '')
    print()

for i in reversed(range(n-1)):
    k=k+1 
    print('      '*k, end='')
    for j in reversed(range(i+1)):
        print('ineuron      ', end= '')
    print()

            ineuron
      ineuron      ineuron
ineuron      ineuron      ineuron
      ineuron      ineuron
            ineuron

In [3]:
# 3. Try to extract all the list entity.

l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [4]:
# 4. Try to extract all the dict entity.

l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [5]:
# 5. Try to extract all the Tuples entity.

l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [6]:
l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

# 6. Try to extract all the Numeric data it may be a part of dict key and values.

num = [] 

for i in l:
    if type(i) in [list, tuple, set]:
        for j in i:
            j = str(j)
            if j.isnumeric() == True:  
                num.append(j)
    if type(i) == dict:
        for j in list(i.keys()):   #extract keys as list
            j = str(j)
            if j.isnumeric() == True:
                num.append(j) 
        for j in list(i.values()):  #extract values as list
            j = str(j)
            if j.isnumeric() == True:
                num.append(j)

print(num)

['1', '2', '3', '4', '2', '3', '4', '5', '6', '3', '4', '5', '6', '7', '45', '4', '5', '23', '3', '7', '6', '8']

In [7]:
# 7. Try to give summation of all the numeric data.

sum = 0

for i in num:
    i = int(i)
    sum = sum + i

print(sum)

156

In [8]:
# 8. Try to filter out all the odd values out all numeric data which is a part of a list.

odd = []

for i in num:
    i = int(i)
    if i%2 != 0:
        odd.append(i)
        
odd

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [9]:
#9. Try to extract "ineuron" out of this dataset.
l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

lst = []

lst.append(l[4]['k2'])
lst.append(l[5][0])

lst

['ineuron', 'ineuron']

In [10]:
#10. Try to find out a number of occurance of all the data.

data = []

# collect all the elements
for i in l:   
    if type(i) in [list, tuple, set]:
        for j in i:
            j = str(j)
            data.append(j)               
    if type(i) == dict:
        lst = list(i.keys())  
        for j in lst:
            j = str(j)
            data.append(j) 
        lst = list(i.values())   
        for j in lst:
            j = str(j)
            data.append(j)
            
#data contains all the elements in the form of a list

freq = {}  # frequency of each element

for i in data:
    if i not in freq:
        freq[i] = 1
    else:
        freq[i] += 1

for i in freq:
    print("{} has appeared {} times".format(i, freq[i]))

1 has appeared 1 times
2 has appeared 2 times
3 has appeared 4 times
4 has appeared 4 times
5 has appeared 3 times
6 has appeared 3 times
7 has appeared 2 times
45 has appeared 1 times
23 has appeared 1 times
k1 has appeared 1 times
k2 has appeared 1 times
k3 has appeared 1 times
sudh has appeared 1 times
ineuron has appeared 2 times
kumar has appeared 1 times
8 has appeared 1 times
data science has appeared 1 times

In [11]:
# 11. Try to find out a number of keys in dict element.

l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

dict_keys = []

for i in l:
    if type(i) == dict:
        print("The number of keys in the dictionary element is: {}".format(len(i)))

The number of keys in the dictionary element is: 5

In [12]:
# 12. Try to filter out all the string data.

data = []

# collect all the string data

for i in l:   
    if type(i) in [list, tuple, set]:
        for j in i:
            if type(j) == str:
                data.append(j) 
    if type(i) == dict:
        lst = list(i.keys())  
        for j in lst:
            if type(j) == str:
                data.append(j) 
        lst = list(i.values())   
        for j in lst:
            if type(j) == str:
                data.append(j)
        
data

['k1', 'k2', 'k3', 'sudh', 'ineuron', 'kumar', 'ineuron', 'data science']

In [13]:
# 13. Try to find out alphanum data.

alnum = [] 


for i in l:     
    if type(i) in [list, tuple, set]:
        for j in i:
            j = str(j)
            if j.isalnum() == True:
                alnum.append(j)         
    if type(i) == dict:
        lst = list(i.keys())   #extract keys as list
        for j in lst:
            j = str(j)
            if j.isalnum() == True:
                alnum.append(j) 
        lst = list(i.values())   #extract values as list
        for j in lst:
            j = str(j)
            if j.isalnum() == True:
                alnum.append(j)

print(alnum)

['1', '2', '3', '4', '2', '3', '4', '5', '6', '3', '4', '5', '6', '7', '45', '4', '5', '23', 'k1', 'k2', 'k3', '3', '7', 'sudh', 'ineuron', 'kumar', '6', '8', 'ineuron']

In [14]:
# 14. Try to find out multiplication of all numeric value in the individual collection inside dataset.

prod = 1
for i in num:
    i = int(i)
    prod = prod*i

print(prod)

908605071360000

In [15]:
# 15. Try to unwrape all the collection inside collection and create a flat list.`


l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

data = [] 


for i in l:     
    if type(i) in [list, tuple,set]:
        for j in i:
            data.append(j)              
    if type(i) == dict:
        lst = list(i.keys())   #extract keys as list
        for j in lst:
            data.append(j)
        lst = list(i.values())   #extract values as list
        for j in lst:
            data.append(j)

print(data)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science']